langchain
langchain-community
langchain-text-splitters
langchain-cohere
langchain-core
langchain-groq
langchain-google-vertexai
langchain-google-genai
langchain-openrouter
langchain-experimental
langgraph
loguru
faiss-cpu
python-dotenv
langsmith
datasets
ragas
pandas
pydantic
matplotlib
seaborn
streamlit
pypdf
tenacity
httpx
folium
streamlit-folium